<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Container</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    
</head>
<body>
    <header>
        <img class="logo" src="{% static 'image/logo1.jpg' %}" alt="logo">
        <nav>
            <ul class="nav_links">
                <li></li>
            </ul>
        </nav>
        <a class="cta" href="lessor-page.html"><button>Back</button></a>
    </header>

    <form id="application" method="post" enctype="multipart/form-data">
        {% csrf_token %}

   
    <div class="entries"><label>Container Type</label>
        <input type="text" name="type" id="type"></div>
       
        <div class="entries"><label>Container Price</label>
            <input type="text" name="price" id="price"></div>
                
                <div class="entries"><label>Container Count</label>
                    <input type="text" name="count" id="count"></div>
                    
                    <div class="entries1"><label>Lessor Name</label>
                        <input type="text" id="name" name="name"></div>
                    
                       <div class="entries1"><label>Picture</label>
                          <input type="file" name="picture">
                       </div> 

                        <div class="entries1">
                            <a href="" class="add_button"><button>Add</button></a>
                        </div>
                            
</form>


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">Lessor</a></li>
                    <li><a href="#">Leasing</a></li>
                </ul>
                <br>
            <h4>&copy; 2022 Shiash Project</h4>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">Payment option</a></li>
                    <li><a href="#">shipping</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">Dargo containers</a></li>
                    <li><a href="#">Femos containers</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
            
    
</body>
</html>