<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipmet leasing</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <img class="logo" src="{% static 'image/logo1.jpg' %}" alt="logo">
        <nav>
            <ul class="nav_links"></ul>
        </nav>
        <a class="cta" href="index.html"><button>Home</button></a>
        <a class="cta" href="login.html"><button>login</button></a>
        <a class="cta" href="register.html"><button>Register</button></a>
       
    </header>

    <div id="slider">
        <figure>
            <img src="{% static 'image/container1.jpg' %}">
            <img src="{% static 'image/Container2.jpg' %}">
            <img src="{% static 'image/Container3.jpg' %}">
            <img src="{% static 'image/container4.jpg' %}">
            <img src="{% static 'image/container5.jpg' %}">
            <img src="{% static 'image/container6.jpg' %}">
            <img src="{% static 'image/container7.jpg' %}">
            <img src="{% static 'image/container1.jpg' %}">

        </figure>
    </div>
    <div class="main">
        <h2>CONTAINER</h2>
    </div>
         
    
    <button class="btn1">CONTAINER</button>       
    
    </body>
</html>