<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>View Container Details</h1>
    <center>
        <table>
            <tr>
                <th>Container Type</th>
                <th>Container Price</th>
                <th>Container Count</th>
                <th>Lessor Name</th>
                <th>Picture</th>
            </tr>
            {% for i in value %}
            <tr>
                <td>
                    {% i.Container Type %}
                </td>
                <td>
                    {% i.Container Price %}
                </td>
                <td>
                    {% i.Container Count %}
                </td>
                <td>
                    {% i.Lessor Name %}
                </td>
                <td>
                    <img src="{{i.Picture.url}}" alt="{{i/Picture}}" width="100px" height="100px">
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>